/* Themeable classes */

.root {
	flex: 1;
}

.iframe {
	border: none;
}

/* Fixed classes */

.rootFixed {
	height: 100%;
}

.running {
	background: white;
}

.iframeFixed {
	position: relative;
	height: 100%;
	width: 100%
}
