.root, .root * { box-sizing: border-box; }

.root {
	position: absolute;
}

.slider {
	position: absolute;
	border: 1px solid black;
}

.slider.dragging {
	border: 1px solid grey;
}

.horizontal {
	bottom: 0px;
	height: 10px;
	left: 0px;
	width: 100%;
}

.horizontal .slider {
	top: 0px;
	height: 10px;
}

.vertical {
	height: 100%;
	right: 0px;
	top: 0px;
	width: 10px;
}

.vertical .slider {
	left: 0px;
	width: 10px;
}

.invisible {
	opacity: 0;
}

.visible {
	background: transparent;
	opacity: 1;
}
