/* Themeable classes */

.root {
	display: inherit;
}

.left {
	flex: 1;
}

.middle {
	display: flex;
	flex-direction: column;
}

.middle,
.right {
	flex: 2;
}

.right.closed,
.left.closed {
	flex: none;
	width: 0px;
}

/* Fixed classes */

.rootFixed {
	display: flex;
}
