@import './variables.css';

.root {
	background: var(--dark-light-black);
	border: 1px solid var(--dark-med-black);
}

.messageContainer {
	border-top: 1px solid var(--dark-med-black);
	background-color: var(--dark-light-black);
	overflow-y: scroll;
	height: var(--console-height);
}

.consoleRow {
	margin: 0;
	padding: 0;
	display: flex;
}

.logBody {
	padding: 5px;
	align-self: center;
	vertical-align: middle;
	color: #ffffff;
	font-family: "Lucida Console";
	font-size: 0.7em;
	white-space: pre;
}

.logArg {
	padding: 0 5px;
}

.meta {
	font-family: "Lucida Console";
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	width: 64px;
	text-align: center;
	padding: 5px;
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.typeLabel {
	width: 100%;
}

.filename {
}

.lineNumber {
}

.log .meta {
	color: green;
	color: #99C05F;
}

.error .meta {
	color: #EE727A;
	/* background-color: rgba(249, 144, 148, 0.1); */
}

.info .meta {
	color: #204E8A;
	/* background-color: rgba(32 78 138, 0.1); */
}

.warn .meta {
	color: #FECA72;
	/* background-color: rgba(252, 225, 159, 0.1); */
}

.warn.consoleRow {
	background-color: rgba(252, 225, 159, 0.1);
}

.error.consoleRow {
	background-color: rgba(249, 144, 148, 0.1);
}

.info {
	background-color: rgba(32 78 138, 0.1);
}
