@import './variables.css';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	align-items: stretch;
	align-content: stretch;
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
}

.root {
	align-items: stretch;
	align-content: stretch;
	flex: 1;
	display: flex;
}

.left {
	flex: 1;
}

.middle,
.right {
	flex: 2;
}

.right.closed,
.left.closed {
	flex: none;
	width: 0px;
}