@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	align-items: stretch;
	align-content: stretch;
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
}

.root {
	display: flex;
	padding: 1em;
}

.left {
	flex: 1;
}

.description > p {
	margin: 1em;
	padding: 0;
}

.right {
	flex: 2;
	padding-left: 16px;
}
