/* Themeable classes */

._3wC3E6V0 {
	-ms-flex: 1;
	    flex: 1;
}

/* Fixed classes */

.mm79T97F {
	height: 100%;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9zdHlsZXMvZWRpdG9yLm0uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLHVCQUF1Qjs7QUFFdkI7Q0FDQyxZQUFRO0tBQVIsUUFBUTtDQUNSOztBQUVELG1CQUFtQjs7QUFFbkI7Q0FDQyxhQUFhO0NBQ2IiLCJmaWxlIjoiZWRpdG9yLm0uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogVGhlbWVhYmxlIGNsYXNzZXMgKi9cblxuLnJvb3Qge1xuXHRmbGV4OiAxO1xufVxuXG4vKiBGaXhlZCBjbGFzc2VzICovXG5cbi5yb290Rml4ZWQge1xuXHRoZWlnaHQ6IDEwMCU7XG59Il19 */